@model IEnumerable<EugeneCV.Models.Experience>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Priority)
                </th>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ExperienceId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ExperienceId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ExperienceId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
